{% extends 'base.html.twig' %}

{% block title %}Waifu{% endblock %}

{% block body %}

<section class="section-content">

    <h2>Waifu</h2>

    <div class="row-waifu-info">
        <div class="show-waifu-info">
            <img src="{{ asset('assets/images/waifu/' ~ waifu.name)}}" alt="{{ waifu.name }}">
        </div>

        <div class="show-waifu-text">
            <p>{{ waifu.waifu }}</p>
            <p>HP {{ waifu.hp }}</p>
            <p>ATK {{ waifu.atk }}</p>
            <p>{{ waifu.class }}</p>
            <p>LVL {{ waifu.level }}</p>
            <p>{{ waifu.gender }}</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="flex margin-top">
        <a class="a-validate" href="{{ path('app_waifu_info_set_avatar', { 'id': waifu.id }) }}">Set Avatar</a>
        <a class="a-validate" href="{{ asset('assets/images/waifu/' ~ waifu.name)}}" download="{{ waifu.waifu }}">Download</a>
    </div>

</section>

{% endblock %}