{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}

<section class="section-content">

    <h2>Edit Password</h2>

    {{ form_start(updatePasswordFormUser) }}

    {# Flash Messages #}
    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            {# <p>{{ message }}</p> #}
            {{ form_errors(updatePasswordFormUser.plainPassword) }}
        </div>
    {% endfor %}

    {# Flash Messages #}
    {% for message in app.flashes('warning-old-password') %}
        <div class="warning-flash">
            {# <p>{{ message }}</p> #}
            <ul>
                <li>Password error.</li>
            </ul>
        </div>
    {% endfor %}

    {# Flash Messages #}
    <div class="none pass-verif warning-flash">
        {# <p class="none pass-verif">Complete the following step and try again.</p> #}
        <ul class="none pass-verif">
            <li class="none pass-verif pass-verif-msg"></li>
        </ul>
    </div>

    <div>
        {{ form_widget(updatePasswordFormUser.oldPassword) }}
    </div>

    <div>
        {{ form_widget(updatePasswordFormUser.plainPassword) }}
    </div>

    <div class="form-last-div-space">
        <input placeholder="Repeat Password" type="password" id="verif_pass_password" name="register_verif_pass" required="required" minlength="5" maxlength="30">
    </div>

    <div>
        {{ form_label(updatePasswordFormUser.submit) }}
        {{ form_widget(updatePasswordFormUser.submit) }}
    </div>

    {{ form_end(updatePasswordFormUser) }}

{% endblock %}