{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<section class="section-content">

    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Users</th>
                <th scope="col">Admins</th>
                <th scope="col">Waifus</th>
                <th scope="col">Ennemys</th>
                <th scope="col">Chapters</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Total</td>
                <td>{{ users|length }}</td>
                <td>{{ admins|length }}</td>
                <td>{{ waifus|length }}</td>
                <td>{{ ennemys|length }}</td>
                <td>{{ chapters|length }}</td>
            </tr>
            <tr>
                <td scope="row">Page</td>
                <td class="td-selector"><a href="{{ path('app_admin_users') }}" target="_blank">Users</a></td>
                <td class="td-selector"><a href="{{ path('app_admin_admins') }}" target="_blank">Admins</a></td>
                <td class="td-selector"><a href="#">/</a></td>
                <td class="td-selector"><a href="#">/</a></td>
                <td class="td-selector"><a href="#">/</a></td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}